USE [master]
GO
/****** Object:  Database [HotelBookingDB]    Script Date: 9/23/2018 1:00:39 AM ******/
CREATE DATABASE [HotelBookingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelBookingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HotelBookingDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelBookingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HotelBookingDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelBookingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelBookingDB]
GO
/****** Object:  Table [dbo].[HotelBookings]    Script Date: 9/23/2018 1:00:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HotelBookings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[hotelId] [int] NULL,
	[roomId] [int] NULL,
	[hotelName] [varchar](50) NULL,
	[hotelAddress] [varchar](50) NULL,
	[rooms] [int] NULL,
	[roomType] [varchar](50) NULL,
	[price] [int] NULL,
	[amenities] [varchar](max) NULL,
	[image] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
